@font-face {
  font-family: "iconfont"; /* Project id 2676831 */
  src: url('iconfont.woff2?t=1626333757055') format('woff2'),
       url('iconfont.woff?t=1626333757055') format('woff'),
       url('iconfont.ttf?t=1626333757055') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-barcode:before {
  content: "\e674";
}

.icon-barschart:before {
  content: "\e675";
}

.icon-arrowleft:before {
  content: "\e676";
}

.icon-check-circle-o:before {
  content: "\e677";
}

.icon-check:before {
  content: "\e678";
}

.icon-check-square-o:before {
  content: "\e679";
}

.icon-close-circle-o:before {
  content: "\e67a";
}

.icon-close:before {
  content: "\e67b";
}

.icon-clock-circle-o:before {
  content: "\e67c";
}

.icon-copy:before {
  content: "\e67d";
}

.icon-delete:before {
  content: "\e67e";
}

.icon-desktop:before {
  content: "\e67f";
}

.icon-deleteuser:before {
  content: "\e680";
}

.icon-contacts:before {
  content: "\e681";
}

.icon-customerservice:before {
  content: "\e682";
}

.icon-disconnect:before {
  content: "\e683";
}

.icon-deleteusergroup:before {
  content: "\e684";
}

.icon-doubleleft:before {
  content: "\e685";
}

.icon-dislike:before {
  content: "\e686";
}

.icon-doubleright:before {
  content: "\e687";
}

.icon-down-square-o:before {
  content: "\e688";
}

.icon-down-circle-o:before {
  content: "\e689";
}

.icon-down:before {
  content: "\e68a";
}

.icon-dotchart:before {
  content: "\e68b";
}

.icon-download:before {
  content: "\e68c";
}

.icon-ellipsis:before {
  content: "\e68d";
}

.icon-edit:before {
  content: "\e68e";
}

.icon-exclamation:before {
  content: "\e68f";
}

.icon-earth:before {
  content: "\e690";
}

.icon-exclamation-circle-o:before {
  content: "\e691";
}

.icon-file:before {
  content: "\e692";
}

.icon-filetext:before {
  content: "\e693";
}

.icon-exclefile:before {
  content: "\e694";
}

.icon-exception:before {
  content: "\e695";
}

.icon-export2:before {
  content: "\e696";
}

.icon-fork:before {
  content: "\e697";
}

.icon-export:before {
  content: "\e698";
}

.icon-folderopen:before {
  content: "\e699";
}

.icon-folder:before {
  content: "\e69a";
}

.icon-enter:before {
  content: "\e69b";
}

.icon-a-Group4:before {
  content: "\e69c";
}

.icon-frown-o:before {
  content: "\e69d";
}

.icon-a-Group12:before {
  content: "\e69e";
}

.icon-a-Group10:before {
  content: "\e69f";
}

.icon-a-Group6:before {
  content: "\e6a0";
}

.icon-a-Group8:before {
  content: "\e6a1";
}

.icon-a-Group15:before {
  content: "\e6a2";
}

.icon-a-Group16:before {
  content: "\e6a3";
}

.icon-a-Group18:before {
  content: "\e6a4";
}

.icon-a-Group20:before {
  content: "\e6a5";
}

.icon-a-Group48:before {
  content: "\e6a6";
}

.icon-info:before {
  content: "\e6a7";
}

.icon-home:before {
  content: "\e6a8";
}

.icon-a-Group23:before {
  content: "\e6a9";
}

.icon-info-cirlce-o:before {
  content: "\e6aa";
}

.icon-laptop:before {
  content: "\e6ab";
}

.icon-left-square-o:before {
  content: "\e6ac";
}

.icon-jpgfile:before {
  content: "\e6ad";
}

.icon-left-circle-o:before {
  content: "\e6ae";
}

.icon-left:before {
  content: "\e6af";
}

.icon-loading_1:before {
  content: "\e6b0";
}

.icon-loading:before {
  content: "\e6b1";
}

.icon-link:before {
  content: "\e6b2";
}

.icon-linechart:before {
  content: "\e6b3";
}

.icon-lock:before {
  content: "\e6b4";
}

.icon-like:before {
  content: "\e6b5";
}

.icon-man:before {
  content: "\e6b6";
}

.icon-meh:before {
  content: "\e6b7";
}

.icon-minus-square-o:before {
  content: "\e6b8";
}

.icon-menufold:before {
  content: "\e6b9";
}

.icon-minus-circle-o:before {
  content: "\e6ba";
}

.icon-login:before {
  content: "\e6bb";
}

.icon-message:before {
  content: "\e6bc";
}

.icon-minus:before {
  content: "\e6bd";
}

.icon-mobile:before {
  content: "\e6be";
}

.icon-pause:before {
  content: "\e6bf";
}

.icon-pause-circle-o:before {
  content: "\e6c0";
}

.icon-pay-circle-o:before {
  content: "\e6c1";
}

.icon-paperclip:before {
  content: "\e6c2";
}

.icon-plus-circle-o:before {
  content: "\e6c3";
}

.icon-pdffile:before {
  content: "\e6c4";
}

.icon-plus:before {
  content: "\e6c5";
}

.icon-plus-square-o:before {
  content: "\e6c6";
}

.icon-play-circle-o:before {
  content: "\e6c7";
}

.icon-poweroff:before {
  content: "\e6c8";
}

.icon-select:before {
  content: "\e6c9";
}

.icon-qrcode:before {
  content: "\e6ca";
}

.icon-pptfile:before {
  content: "\e6cb";
}

.icon-question-circle-o:before {
  content: "\e6cc";
}

.icon-reload:before {
  content: "\e6cd";
}

.icon-question:before {
  content: "\e6ce";
}

.icon-retweet:before {
  content: "\e6cf";
}

.icon-setting:before {
  content: "\e6d0";
}

.icon-right-circle-o:before {
  content: "\e6d1";
}

.icon-right-square-o:before {
  content: "\e6d2";
}

.icon-right:before {
  content: "\e6d3";
}

.icon-tablet:before {
  content: "\e6d4";
}

.icon-star-o:before {
  content: "\e6d5";
}

.icon-solution:before {
  content: "\e6d6";
}

.icon-sync:before {
  content: "\e6d7";
}

.icon-tool:before {
  content: "\e6d8";
}

.icon-unknowfile:before {
  content: "\e6d9";
}

.icon-up:before {
  content: "\e6da";
}

.icon-USB:before {
  content: "\e6db";
}

.icon-upload:before {
  content: "\e6dc";
}

.icon-unlock:before {
  content: "\e6dd";
}

.icon-up-circle-o:before {
  content: "\e6de";
}

.icon-team:before {
  content: "\e6df";
}

.icon-rollback:before {
  content: "\e6e0";
}

.icon-windows-o:before {
  content: "\e6e1";
}

.icon-videocamera:before {
  content: "\e6e2";
}

.icon-verticleright:before {
  content: "\e6e3";
}

.icon-verticleleft:before {
  content: "\e6e4";
}

.icon-user:before {
  content: "\e6e5";
}

.icon-wordfile:before {
  content: "\e6e6";
}

.icon-switcher:before {
  content: "\e6e7";
}

.icon-woman:before {
  content: "\e6e8";
}

.icon-save:before {
  content: "\e6e9";
}

.icon-scan:before {
  content: "\e6ea";
}

.icon-sharealt:before {
  content: "\e6eb";
}

.icon-shrink:before {
  content: "\e6ec";
}

.icon-Shape:before {
  content: "\e6ed";
}

.icon-smile-o:before {
  content: "\e6ee";
}

.icon-swap:before {
  content: "\e6ef";
}

.icon-swapright:before {
  content: "\e6f0";
}

.icon-swapleft:before {
  content: "\e6f1";
}

.icon-bank:before {
  content: "\e6f2";
}

.icon-bells:before {
  content: "\e6f3";
}

.icon-creditcard:before {
  content: "\e6f4";
}

.icon-code-square-o:before {
  content: "\e6f5";
}

.icon-Calculator:before {
  content: "\e6f6";
}

.icon-bulb:before {
  content: "\e6f7";
}

.icon-database:before {
  content: "\e6f8";
}

.icon-flag:before {
  content: "\e6f9";
}

.icon-copyright:before {
  content: "\e6fa";
}

.icon-find:before {
  content: "\e6fb";
}

.icon-car:before {
  content: "\e6fc";
}

.icon-carryout:before {
  content: "\e6fd";
}

.icon-gift:before {
  content: "\e6fe";
}

.icon-hourglass:before {
  content: "\e6ff";
}

.icon-interface:before {
  content: "\e700";
}

.icon-filter:before {
  content: "\e701";
}

.icon-home1:before {
  content: "\e702";
}

.icon-inbox:before {
  content: "\e703";
}

.icon-key:before {
  content: "\e704";
}

.icon-Notice:before {
  content: "\e705";
}

.icon-isv:before {
  content: "\e706";
}

.icon-medicinebox:before {
  content: "\e707";
}

.icon-mail:before {
  content: "\e708";
}

.icon-picture:before {
  content: "\e709";
}

.icon-redenvelopes:before {
  content: "\e70a";
}

.icon-search:before {
  content: "\e70b";
}

.icon-Trophy:before {
  content: "\e70c";
}

.icon-totop:before {
  content: "\e70d";
}

.icon-sound:before {
  content: "\e70e";
}

.icon-shoppingcart:before {
  content: "\e70f";
}

.icon-rest:before {
  content: "\e710";
}

.icon-skin:before {
  content: "\e711";
}

.icon-wifi:before {
  content: "\e712";
}

.icon-wallet:before {
  content: "\e713";
}

.icon-phone:before {
  content: "\e714";
}

.icon-rocket:before {
  content: "\e715";
}

.icon-Safety:before {
  content: "\e716";
}

.icon-trademark:before {
  content: "\e717";
}

.icon-videocamera1:before {
  content: "\e718";
}

.icon-addusergroup:before {
  content: "\e663";
}

.icon-adduser:before {
  content: "\e664";
}

.icon-addfolder:before {
  content: "\e665";
}

.icon-addfile:before {
  content: "\e666";
}

.icon-appstore-o:before {
  content: "\e667";
}

.icon-arrowdown:before {
  content: "\e668";
}

.icon-apple-o:before {
  content: "\e669";
}

.icon-arrowsalt:before {
  content: "\e66a";
}

.icon-android-o:before {
  content: "\e66b";
}

.icon-barchart:before {
  content: "\e66c";
}

.icon-API:before {
  content: "\e66d";
}

.icon-bars:before {
  content: "\e66e";
}

.icon-book:before {
  content: "\e66f";
}

.icon-arrowright:before {
  content: "\e670";
}

.icon-card:before {
  content: "\e671";
}

.icon-arrowup:before {
  content: "\e672";
}

.icon-calendar:before {
  content: "\e673";
}

